.nav {
  height: 150px;
  position: relative;
}

.patinha1,
.patinha2,
.patinha3 {
  position: absolute;
  z-index: 2; 
}

.patinha1 {
  top: 126px;
  left: 827.09px;
}

.patinha2 {
  top: 12px;
  left: 852.09px;
}

.patinha3 {
  left: 999.09px;
}

.nav-link {
  color: #703748;
  font-size: 15px;
  font-weight: 800;
  white-space: nowrap;
}

.logo-image {
  width: 160px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.container {
  margin-left: auto;
}

.information-header {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  align-items: flex-end;
  z-index: 3;
}

.forma-cabecalho {
  position: absolute;
  z-index: 0;
  right: 0%;
  width: 100%; /* Make the image responsive */
  max-width: 600px; /* Set a maximum width */
  top: 0; /* Ensure it stays at the top */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav {
    height: auto;
  }

  .patinha1,
  .patinha2,
  .patinha3 {
    display: none;
  }

  .logo-image {
    width: 120px;
  }

  .information-header {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    display: none;
  }

  .forma-cabecalho {
    display: none; /* Hide the forma-cabecalho image on mobile sizes */
  }
}