.container-fluid {
  display: flex;
  flex-direction: column;
}

.gatinhos {
  transform: scale(0.6);
  margin-bottom: -38px;
}

.container-agende {
  display: flex;
  align-items: center;
  background-color: #FFDE59;
  border-radius: 34px;
  flex-wrap: wrap;
  padding: 20px;
}

.container-agende .cachorro {
  margin-left: 48px;
}

.gatinho {
  position: relative;
  margin-left: auto;
  margin-top: -200px;
  margin-right: 24px;
  align-self: flex-end;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container-text h3 {
  color: #703748;
}

.container-text p {
  white-space: pre-line;
  line-height: 1.5;
  max-width: 300px;
  font-size: 16px;
  color: #703748;
}

.fale-conosco-btn {
  display: flex;
  flex-direction: row;
  width: 294px;
  height: 84px;
  background-color: #25D366;
  border-radius: 15px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}

.fale-conosco-btn img {
  margin-left: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container-fluid {
    align-items: center;
  }

  .gatinhos {
    transform: scale(0.5);
    margin-bottom: -30px;
  }

  .container-agende {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .container-agende .cachorro {
    margin: 0;
    order: 2;
  }

  .container-text {
    align-items: center;
    text-align: center;
    order: 1;
  }

  .container-text h3 {
    font-size: 24px;
  }

  .container-text p {
    font-size: 14px;
    max-width: 100%;
  }

  .fale-conosco-btn {
    width: 100%;
    font-size: 24px;
  }

  .gatinho {
    display: none;
  }
}