.footer {
  margin: 50px 50px 0 50px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contatos h4 {
  color: #703748;
  font-weight: 400;
}

.contatos p {
  color: #703748;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer {
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  .socials {
    justify-content: center; /* Ensure items remain in the same line */
    gap: 15px;
  }

  .contatos h4 {
    font-size: 18px;
  }

  .contatos p {
    font-size: 14px;
  }
}